"passeios.c":
	path: "/Users/joaotiagoalmeida/Documents/4.ISTécnico/MEEC/2ªMatrícula (2ºano) 18:19/1º Semestre/Algoritmos e Estrutura de Dados/Tourist-Knights/src/passeios.c"
	cwd: "/Users/joaotiagoalmeida/Documents/4.ISTécnico/MEEC/2ªMatrícula (2ºano) 18:19/1º Semestre/Algoritmos e Estrutura de Dados/Tourist-Knights/src"
